header {
  .inner-content {
    @media (min-width: 992px) {
      display: flex;
      justify-content: space-between;
    }

    .logo-wrapper {
      text-align: center;
      margin-bottom: 20px;

      @media (min-width: 992px) {
        margin-bottom: 0;
      }

      a {
        img {
          width: 100%;
          max-width: 400px;
          transition: all 0.3s ease;
        }

        &:hover {
          img {
            opacity: 0.7;
          }
        }
      }
    }

    .nav-links {
      text-align: center;

      @media (min-width: 992px) {
        text-align: left;
      }

      ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
          display: inline-block;
          margin: 0 20px;

          @media (min-width: 768px) {
            margin: 0;

            &:not(:last-child) {
              margin-right: 40px;

              @media (min-width: 1300px) {
                margin-right: 60px;
              }
            }
          }

          a,
          .modal-btn {
            display: block;
            color: $dark;
            font-weight: 700;
            font-size: 1.25rem;
            text-decoration: none;
            transition: all 0.3s ease;
            background-color: transparent;
            border: 0;
            margin: 0;
            padding: 0;
            font-family: 'Fira Mono', monospace;

            @media (min-width: 1300px) {
              font-size: 2rem;
            }

            &:hover {
              cursor: pointer;
              transform: translateY(-3px);
              opacity: 0.7;
            }

            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }
}
